<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Phebe a message!</title>
    <style>
    body {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); }
h1{
   color: rgb(75, 49, 218);
}

strong {
   font-size: larger;
   font-style: italic;
   text-decoration: underline;
   text-decoration-color: #dd2323;
   text-decoration-style: dashed;
}
       
        </style>       
                                                                
</head>
<body>
   <h1> Send Phebe a message!</h1>

   <strong> Send Phebe's sensehat a message. Type what you want to say, and then click the submit button to send off your message, and reveal a surprise!</strong> 
   <br>
   <br>

    <form action="/done" method="post">
         
       <input type="text" name="message" />
       <input type="submit" />
           
    </form>
    

</body>
</html>